<footer class="footer" id="footer">
  <button class="footer__button" alt="footerButton" title="topPage">
    <a href="#header" alt="buttonTop" title="buttonTop"
      ><img
        src="./assets/images/ico-arrow.svg"
        class="footer__button--arrow"
        id="buttonTop"
        alt="topPage"
        title="topPage"
    /></a>
  </button>
  <section class="footer__section1">
    <small> &copy2021 we ❤ components</small>
  </section>
  <section class="footer__section2">
    <ul>
      <li>
        <a href="https://adalab.es/" alt="adalabweb" title="adalabweb"
          >Articles</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" alt="adalabweb" title="adalabweb">Books</a>
      </li>
      <li>
        <a href="https://adalab.es/" alt="adalabweb" title="adalabweb"
          >Events</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" alt="adalabweb" title="adalabweb"
          >Reasons</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" alt="adalabweb" title="adalabweb">Tips</a>
      </li>
    </ul>
  </section>
  <section class="footer__section3">
    <ul>
      <li>
        <a href="https://adalab.es/" alt="adalabweb" title="adalabweb"
          >Twitter</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" alt="adalabweb" title="adalabweb"
          >Instagram</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" alt="adalabweb" title="adalabweb"
          >Mastodon.Social</a
        >
      </li>
    </ul>
  </section>
</footer>
