<div class="division">
  <a href="#header" alt="buttonTop" title="buttonTop"
    ><button class="division__button" alt="footerButton" title="topPage">
      <img
        src="./assets/images/ico-arrow.svg"
        class="division__button--arrow"
        id="buttonTop"
        alt="topPage"
        title="topPage"
      /></button
  ></a>
</div>
<footer class="footer" id="footer">
  <section class="footer__section1">
    <small
      >&copy2021 <br />
      we <strong class="footer__section1--heart"> ❤</strong> components</small
    >
  </section>
  <nav class="footer__nav">
    <ul class="footer__nav1--list">
      <li>
        <a href="https://adalab.es/" alt="adalabweb" title="adalabweb"
          >Articles</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" alt="adalabweb" title="adalabweb">Books</a>
      </li>
      <li>
        <a href="https://adalab.es/" alt="adalabweb" title="adalabweb"
          >Events</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" alt="adalabweb" title="adalabweb"
          >Reasons</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" alt="adalabweb" title="adalabweb">Tips</a>
      </li>
    </ul>

    <ul class="footer__nav2--list">
      <li>
        <a href="https://adalab.es/" alt="adalabweb" title="adalabweb"
          >Twitter</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" alt="adalabweb" title="adalabweb"
          >Instagram</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" alt="adalabweb" title="adalabweb"
          >Mastodon.Social</a
        >
      </li>
    </ul>
  </nav>
</footer>
