<footer class="page__footer" id="footer">
  <button class="page__footer--button" alt="footerButton" title="topPage">
    <a
      href="#header"
      class="page__header--hero--button"
      id="buttonTop"
      alt="buttonTop"
      title="buttonTop"
      ><img src="./assets/images/ico-arrow.svg" alt="topPage" title="topPage"
    /></a>
  </button>
  <section>
    <small> &copy2021 we ❤ components</small>
  </section>
  <section>
    <ul>
      <li>
        <a href="https://adalab.es/" alt="adalabweb" title="adalabweb"
          >Articles</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" alt="adalabweb" title="adalabweb">Books</a>
      </li>
      <li>
        <a href="https://adalab.es/" alt="adalabweb" title="adalabweb"
          >Events</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" alt="adalabweb" title="adalabweb"
          >Reasons</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" alt="adalabweb" title="adalabweb">Tips</a>
      </li>
    </ul>
  </section>
  <section>
    <ul>
      <li>
        <a href="https://adalab.es/" alt="adalabweb" title="adalabweb"
          >Twitter</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" alt="adalabweb" title="adalabweb"
          >Instagram</a
        >
      </li>
      <li>
        <a href="https://adalab.es/" alt="adalabweb" title="adalabweb"
          >Mastodon.Social</a
        >
      </li>
    </ul>
  </section>
</footer>
