<header class="page__header" id="header">
  <menu
    ><a href="https://adalab.es/" alt="adalabweb" title="adalabweb"
      ><img
        src="./assets/images/ico-menu.svg"
        class="page__header--menu"
        alt="menu"
        title="menu" /></a
  ></menu>
  <section class="page__header--hero">
    <h1 class="page__header--hero--title" alt="title" title="anonymousProxy">
      Anonymous proxy
    </h1>
    <p class="page__header--hero--text" alt="text" title="text">
      In hac habitasse platea dictumst.
    </p>
    <button
      class="page__header--hero--button"
      id="buttonTop"
      alt="buttonTop"
      title="buttonTop"
    >
      <a href="#section2"> <img src="./assets/images/ico-scroll-down.svg" /></a>
    </button>
  </section>
</header>
