<header class="page__header">
  <menu
    ><a href="https://adalab.es/" alt="adalabweb" title="adalabweb"
      ><img
        src="./assets/images/ico-menu.svg"
        alt="menu"
        title="menu"
        class="page__header--menu" /></a
  ></menu>
  <section class="page__header--hero">
    <h1 class="page__header--hero--title">Anonymous proxy</h1>
    <p class="page__header--hero--text">In hac habitasse platea dictumst.</p>
    <button><a href="./assets/images/ico-scroll-down.svg"></a></button>
  </section>
</header>
