<nav class="menu">
  <a href="https://adalab.es/" alt="adalabweb" title="adalabweb"
    ><img
      src="./assets/images/ico-menu.svg"
      class="menu__img"
      alt="menu"
      title="menu"
  /></a>
</nav>
<header class="header" id="header">
  <h1 class="header__title" alt="title" title="anonymousProxy">
    Anonymous proxy
  </h1>
  <p class="header__text" alt="text" title="text">
    In hac habitasse platea dictumst.
  </p>
  <a href="#section2"
    ><button
      class="header__button"
      id="buttonTop"
      alt="buttonTop"
      title="buttonTop"
    >
      <img
        src="./assets/images/ico-scroll-down.svg"
        class="header__button--img"
      /></button
  ></a>
</header>
