<main class="index__main">
  <section class="index__main--section1">
    <h4
      class="index__main--section1--title"
      alt="InsomniaTips"
      title="InsomniaTips"
    >
      Insomnia Tips
    </h4>
    <h2 class="index__main--section1--subtitle" alt="subtitle" title="subtitle">
      Looking through a window
    </h2>
    <p class="index__main--section1--text" alt="text" title="text">
      Donec accumsan, nulla ut volutpat pottitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <button
      class="index__main--section1--button"
      alt="goButton"
      title="goButton"
    >
      Go
    </button>
  </section>
  <section class="index__main--section2">
    <h2 class="index__main--section2--title" alt="title" title="title">
      3 reasons to purchase
    </h2>
    <div class="index__main--section2--articles">
      <article class="index__main--section2--article">
        <h3
          class="index__main--section2--article1--title"
          id="titleLorem"
          alt="title"
          title="title"
        >
          Ut sed metus
        </h3>
        <p class="index__main--section2--article--text" alt="text" title="text">
          Lorem ipsum dolor sit amet, consectetur.
        </p>
      </article>
      <article class="index__main--section2--article">
        <h3
          class="index__main--section2--article1--title"
          id="titleLorem"
          alt="title"
          title="title"
        >
          Curabitur ac erat
        </h3>
        <p class="index__main--section2--article--text" alt="text" title="text">
          Mauris mattis urna quis lorem molestie.
        </p>
      </article>
      <article class="index__main--section2--article">
        <h3
          class="index__main--section2--article1--title"
          id="titleLorem"
          alt="title"
          title="title"
        >
          Morbi dictum
        </h3>
        <p class="index__main--section2--article--text" alt="text" title="text">
          Aliquam in dolor et dolor tincidunt.
        </p>
      </article>
    </div>
    <button alt="button" title="reasonsButton">More reasons</button>
  </section>
</main>
