.menu {
  width: 44px;
  height: 44px;
  position: fixed;
  background-color: #0271bc;
  display: flex;
  justify-content: center;
  align-items: center;
  &__img {
    width: 16px;
    height: 14px;
  }
}
.header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__title {
    color: white;
    width: 290px;
    position: absolute;
    font-size: 43px;
    margin-top: 170px;

    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
  }
  &__text {
    color: white;
    width: 290px;
    height: 21px;
    margin: 317px 15px 0px 15px;
    position: absolute;
    font-size: 16px;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
  &__button {
    background-color: #ffffff;
    padding: 14.5px;
    border-radius: 25px;
    height: 45px;
    width: 45px;
    margin-top: 477px;
    &--img {
      width: 20px;
      margin: 2px 0px 12px -4px;
    }
  }
}
