.main {
  width: 100%;
  height: 1000px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  @media all and (min-width: 768px) {
    // height: 727px;//
  }
  &__section1 {
    height: 376px;
    padding: 24px 15px 0px 15px;
    display: grid;
    grid-template-rows: 30px 60px 120px 45px;
    row-gap: 18px;
    @media all and (min-width: 768px) {
      padding: 24px 60px 0px 60px;
    }
    &--title {
      color: #8ccbea;
      font-family: "Roboto", sans-serif;
      line-height: 30px;
      font-size: 14px;
      margin-top: 12px;
    }
    &--subtitle {
      font-family: "Roboto Slab", serif;
      font-size: 27px;
      line-height: 30px;
      text-transform: capitalize;
      @media all and (min-width: 768px) {
        font-size: 1.5em;
      }
    }
    &--text {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      color: #4a4a4a;
      @media all and (min-width: 768px) {
        font-size: 20px;
      }
    }
    &--button {
      height: 45px;
      width: 76px;
      border: 2px solid #f26002;

      border-radius: 22.5px;
      background-color: white;
      &:hover {
        transition: 0.5s ease-in-out;
        background: #f26002;
        border: 0;
      }
      #buttonText {
        color: #f26002;
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        padding: 15px;
        &:hover {
          transition: 0.5s ease-in-out;
          color: #ffffff;
        }
      }
    }
  }

  &__section2 {
    width: 100%;
    height: 624px;
    background-color: #eff9ff;
    padding: 0px 15px 0px 15px;
    display: grid;
    grid-template-rows: 30px 93px 93px 93px 45px;
    row-gap: 45px;
    justify-content: center;
    align-content: center;
    text-align: center;
    &--title {
      font-family: "Roboto Slab", serif;
      font-size: 28px;
      text-transform: capitalize;
      line-height: 30px;
    }
    &--article {
      line-height: 30px;
      width: 184px;
      margin: 0px 68px 0px 68px;

      &--title {
        font-family: "Roboto Slab", serif;
        font-size: 18px;
      }
      &--text {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
      }
    }
    &--button {
      height: 45px;
      width: 184px;
      margin: 0px 68px 0px 68px;
      border: 0;
      background-color: #f26002;
      border-radius: 23px;
      &:hover {
        transition: 0.5s ease-in-out;
        background: #ffffff;
      }
      #textButton {
        color: #ffffff;
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        padding: 15px;
        &:hover {
          transition: 0.5s ease-in-out;
          color: #f26002;
        }
      }
    }
  }
}
